body {
    margin: 0;
}

.hidden {
    display: none;
}

#header {
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 5px;
    font-weight: bold;
}

#page-viewport {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scanner-page {
    min-width: 100vw;
    min-height: 350px;
    position: relative;
}

#scanner-page canvas, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#results-page {
    padding: 10px;
}

#results-page-product-name {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
}

#results-page-product-images {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 10px;
}

#results-page-product-images > img{
    padding: 5px;
    display: block;
}

#results-page-nutrition-facts {
    margin: 10px;
}

#results-page-nutrition-facts-header {
    color: darkgray;
}

#results-page-nutrition-facts-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#results-page-nutrition-facts-table > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

#results-page-nutrition-facts-table > .row > .key {
    
}

#results-page-nutrition-facts-table > .row > .value {
    
}

#results-page-product-recall {
    border: 6px solid red;
    padding: 5px;
}

#results-page-product-recall-warning {
    color: red;
    font-weight: bold;
}

#results-page-product-recall-instructions-header, #results-page-product-recall-reason-header {
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 5px;
}

#results-page-product-no-recall {
    border: 6px solid green;
    padding: 5px;
    color: green;
    font-weight: bold;
}
